{% extends "books/template.html" %}
{% block content %}
    <br>
    <div class="container-fluid center">
        <div class="row">
            <div class="col-md-auto">
                <img src="{{ book.book_img.url }}" alt="">
                <div>
                    <span style="font-size: 120%;">Podobała się <b>{{ rate }}%</b> czytelnikom <span
                            style="font-size: 70%;">({{ votes }} {% if votes == 1 %}
                        głos{% elif votes == 2 or votes == 3 or votes == 4 %}głosy{% else %}głosów{% endif %}
                        )</span></span>

                    <div class="d-flex">
                        {% if user.is_authenticated %}
                            <br>
                            <form id="vote_plus" style="margin-right: 2%">
                                {% csrf_token %}
                                {% if liked and not disliked %}
                                    <fieldset disabled>
                                        <button type="submit" class="btn btn-outline-success"><i
                                                style="font-size: 200%;"
                                                class="material-icons">thumb_up</i><br>Podobała
                                            mi się
                                        </button>
                                    </fieldset>
                                {% else %}
                                    <button type="submit" class="btn btn-outline-success"><i style="font-size: 200%;"
                                                                                             class="material-icons">thumb_up</i><br>Podobała
                                        mi się
                                    </button>
                                {% endif %}
                            </form>
                            <form id="vote_minus" style="margin-left: 2%">
                                {% csrf_token %}
                                {% if disliked and not liked %}
                                    <fieldset disabled>
                                        <button type="submit" class="btn btn-outline-danger"><i style="font-size: 200%;"
                                                                                                class="material-icons">thumb_down</i><br>Nie
                                            podobała mi się
                                        </button>
                                    </fieldset>
                                {% else %}
                                    <button type="submit" class="btn btn-outline-danger"><i style="font-size: 200%;"
                                                                                            class="material-icons">thumb_down</i><br>Nie
                                        podobała mi się
                                    </button>
                                {% endif %}
                            </form>
                        {% else %}
                            <p style="margin: 1% auto;" class="text-center alert alert-primary">Aby zagłosować musisz
                                być zalogowany</p>
                        {% endif %}
                    </div>

                </div>
            </div>
            <div class="col">
                <h1 class="text-monospace">{{ book.book_title }}</h1>
                {% if book.book_author.count == 1 %}
                    <h6>Autor: {% for author in book.book_author.all %}
                        <a href="{% url 'books:book_author' book.id %}">{{ author.name }}</a> {% endfor %}</h6>
                {% else %}
                    <h6>Autorzy:{% for author in book.book_author.all %}{% if not forloop.first %},{% endif %}
                        <a href="{% url 'books:book_author' book.id %}">{{ author.name }}</a>{% endfor %}</h6>
                {% endif %}
                <hr>
                <div>
                    <h2>Recenzja:</h2>
                    <p style="font-size: 125%;" class="text-justify">{{ book.book_desc }}</p>
                </div>
                <h1>Komentarze
                    <hr>
                </h1>
                <form id="comment_form">
                    <fieldset {% if not user.is_authenticated %}disabled{% endif %}>
                        <input type="hidden" id="user_id" value="{{ user.id }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="content">Treść komentarza:</label>
                            <textarea name="content" required class="form-control" id="content" rows="8"></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary">{% if not user.is_authenticated %}Zaloguj
                            się, aby dodać komentarz{% else %}Dodaj komentarz{% endif %}</button>
                        <hr>
                    </fieldset>
                </form>
                {% if comments %}
                    {% for comment in page_obj %}
                        <ul class="list-unstyled">
                            <li class="media"
                                style="padding: 1%; background: rgba(0,0,0,0.1); border-left: 2px solid #222;">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">{{ comment.user.username }}</h5>
                                    <p>{{ comment.content }}</p>
                                    <span style="font-size: 80%; color: rgba(0, 0, 0, .3);"><i>{{ comment.pub_date }}</i></span>
                                </div>
                            </li>
                        </ul>
                        <hr>
                    {% endfor %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" aria-label="Poprzednia"
                                       href="?strona={{ page_obj.previous_page_number }}"
                                       tabindex="-1">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-label="Poprzednia" aria-disabled="true">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page in page_obj.paginator.page_range %}
                                {% if page_obj.number == page %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?strona={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?strona={{ page_obj.next_page_number }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-label="Następna" aria-disabled="true">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        <h6>Brak komentarzy</h6>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">

        $(document).on('submit', '#vote_plus', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url 'books:book_plus' book.id %}',
                data: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function () {
                    location.reload();
                }
            });

        });

        $(document).on('submit', '#vote_minus', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url 'books:book_minus' book.id %}',
                data: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function () {
                    location.reload();
                }
            });

        });

        $(document).on('submit', '#comment_form', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url 'books:book_add_comment' book.id %}',
                data: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    user_id: $('#user_id').val(),
                    content: $('#content').val(),
                    nick: $('#nick').val(),
                },
                success: function () {
                    location.reload();
                }
            });

        });

    </script>
{% endblock %}