{% extends "books/template.html" %}
{% block content %}
{% if books %}
    {% for book in books %}
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ book.book_img.url }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <h1 class="card-title"><a href="{% url 'books:book' book.id %}">{{ book.book_title }}</a></h1>
                      {% if book.book_author.count == 1 %}
                            <h6>Autor: {% for author in book.book_author.all %}<a href="{% url 'books:book_autor' book.id %}">{{ author.name }}</a> {% endfor %}</h6>
                          {% else %}
                            <h6>Autorzy: {% for author in book.book_author.all %}<a href="{% url 'books:book_autor' book.id %}">{{ author.name }} </a>{% endfor %}</h6>
                      {% endif %}
                      <h6>Kategoria: <a href="{% url 'books:book_category' book.id %}">{{ book.book_category.category_name }} </a></h6>
                    <p class="card-text">{{ book.book_desc|truncatewords:50 }}</p>
                    <p class="card-text"><small class="text-muted">{{ book.pub_date }}</small></p>
                  </div>
                </div>
              </div>
            </div>
    {% endfor %}
{% else %}
    <h1>Brak książek</h1>
{% endif %}
{% endblock %}


