{% extends "books/template.html" %}
{% block books_active %} active {% endblock %}
{% block content %}
     <div class="container">
         <br>
        {% if books %}
            <div class="row row-cols-1 row-cols-md-3">
            {% for book in books %}
            <div class="col mb-4">
                        <div class="card">
                            <img src="{{ book.book_img.url }}" width="{{ book.book_img.width }}" class="card-img-top" alt="Okładka">
                            <div class="card-body ">
                                <h1 class="card-title text-center"><a href="{% url 'books:book' book.id %}">{{ book.book_title }}</a></h1>
                                <hr>
                                <h6>Kategoria: <a href="{% url 'books:book_category' book.id %}">{{ book.book_category.category_name }} </a></h6>
                                {% if book.book_author.count == 1 %}
                                            <h6>Autor: {% for author in book.book_author.all %}<a href="{% url 'books:book_author' author.id %}">{{ author.name }}</a> {% endfor %}</h6>
                                          {% else %}
                                            <h6>Autorzy:{% for author in book.book_author.all %}{% if not forloop.first %},{% endif %} <a href="{% url 'books:book_author' author.id %}">{{author.name}}</a>{% endfor %}</h6>
                                      {% endif %}
                                <p class="card-text">{{ book.book_desc|truncatewords:50 }} </p>
                                <p class="text-center"><a href="{% url 'books:book' book.id %}">Czytaj dalej</a>  </p>
                            </div>
                            <div class="card-footer">
                                    <small class="text-center">
                                        <b>
                                            <span class="material-icons text-success">thumb_up</span>2
                                            <span class="material-icons text-danger" style="margin-left: 3%;">thumb_down</span>2</b>
                                        </b>
                                    </small>
                            </div>
                        </div>

            </div>
            {% endfor %}
            </div>
        </div>


{% else %}
    <h1 class="color-danger">Brak książek</h1>
{% endif %}
{% endblock %}


