<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/media/Book.ico"/>
    {% if title %}
        <title>{{ title }} - BookWeb</title>
    {% else %}
        <title>BookWeb</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% load static %}{% static 'loader.css' %}">
</head>
<body style="background: #e9ecef">

{#<div class="loader-wrapper">#}
{#    <span class="loader"><span></span></span>#}
{#</div>#}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BookWeb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% block books_active %} {% endblock %}" href="{% url 'books:index' %}">Książki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block authors_active %} {% endblock %}"
                   href="{% url 'books:authors' %}">Autorzy</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Moje konto
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="card" style="width: 18rem; margin: 0 auto; border: none">
                        <div class="card-body">
                            {% if error %}
                                <h1>Błąd</h1>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <h5 class="card-title">Witaj <b>{{ user.username }}</b>!</h5>
                                </div>
                                <div class="dropdown-divider"></div>
                                <form id="logout">
                                    <button type="submit" class="dropdown-item" href="{% url 'books:logout' %}">Wyloguj
                                        się
                                    </button>
                                </form>
                                </div>
                            {% elif not user.is_authenticated %}
                                <div class="login">
                                    <h5 class="card-title">Zaloguj się</h5>

                                    <form id="login" style="padding: 5%; width: 100%;">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="username">Nazwa użytkownika</label>
                                            <input type="text" class="form-control" id="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Hasło</label>
                                            <input type="password" class="form-control" id="password">

                                        </div>
                                        <p id="errorText" class="text-danger text-center">Niepoprawna nazwa użtykownika
                                            lub
                                            hasło</p>
                                        <button type="submit" class="btn btn-primary text-center">Zaloguj się</button>
                                    </form>
                                </div>
                                <div class="register">
                                    <h5 class="card-title">Zajerestruj się</h5>

                                    <form id="register" style="padding: 5%; width: 100%;">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="username_reg">Nazwa użytkownika</label>
                                            <input required type="text" class="form-control" id="username_reg">
                                        </div>
                                        <div class="form-group">
                                            <label for="email_reg">Adres e-mail</label>
                                            <input required type="email" class="form-control" id="email_reg"
                                                   aria-describedby="emailHelp">
                                        </div>
                                        <div class="form-group">
                                            <label for="password_reg">Hasło</label>
                                            <input required type="password" class="form-control" id="password_reg">
                                        </div>
                                        <div class="form-group">
                                            <label for="password_repeat">Powtórz hasło</label>
                                            <input required type="password" class="form-control" id="password_repeat">
                                        </div>
                                        <p id="errorRegisterText" class="text-danger text-center">Podane hasła nie zgadzają się</p>
                                        <button type="submit" class="btn btn-primary text-center">Zajerestruj się
                                        </button>
                                    </form>
                                </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a id="register_button" style="cursor: pointer;" class="dropdown-item">Zajerestruj
                                    się</a>
                                </div>
                            {% endif %}
    </div>
    </li>
    </ul>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="post" action="{% url 'books:search' %}" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <input name="query" class="form-control mr-sm-2" type="search" placeholder="Szukana fraza"
               aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
    </div>
</nav>

{% block content %}

{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% block scripts %}

{% endblock %}
{#<script type="text/javascript">#}
{#    $(window).on('load', function () {#}
{#        $('.loader-wrapper').fadeOut("slow");#}
{#    })#}
{#</script>#}
<script type="text/javascript">

    $('.dropdown-menu').on('click', function (e) {
        e.stopPropagation();
    });

    $(window).on('load', function () {
        $('#errorText').fadeOut();
        $('.register').fadeOut();
        $('#errorRegisterText').fadeOut();
    });

    $('#register_button').click(function (e) {
        $('.register').slideToggle();
        $('.login').slideToggle();
        console.log($(this).text());
        if ($(this).text() === "Zaloguj się") {
            $('#register_button').html("Zajerestruj się");
        } else {
            $('#register_button').html("Zaloguj się");
        }
    });


    $(document).on('submit', '#login', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url 'books:login' %}',
            data: {
                username: $('#username').val(),
                password: $('#password').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (response) {
                if (response['result'] === 'success') {
                    location.reload();
                } else {
                    $('#errorText').fadeIn("slow");
                }
            },
        });

    });

      $(document).on('submit', '#register', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url 'books:register_user' %}',
            data: {
                username: $('#username_reg').val(),
                password: $('#password_reg').val(),
                password_repeat: $('#password_repeat').val(),
                email: $('#email_reg').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (response) {
                if (response['result'] === 'success') {
                    location.reload();
                } else {
                    $('#errorRegisterText').fadeIn("slow");
                }
            },
        });

    });

    $(document).on('submit', '#logout', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url 'books:logout' %}',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function () {
                location.reload();
            },
        });

    });
</script>
</body>
</html>